h1 {
    font-family: Impact,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    padding: 8px 8px;
    text-align: center;
    background-color: teal;
    color: #fff;
}

#toggle-button {
    bottom: 0;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -webkit-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.disable-remotecontrol #toggle-button,
.connection-losted #toggle-button {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
    color: #888;
}

#messages-holder {
    position: relative;
}

.message {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 4px 8px;
    text-align: center;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -webkit-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
    position: absolute;
    left: 0;
    right: 0;
}

#message-1 {
    background-color: #444;
    color: #ccc;
    opacity: 0;
}

.disable-remotecontrol #message-1 {
    opacity: 1.0;
}

#message-2 {
    background-color: #ff6500;
    color: #ffd800;
    opacity: 0;
}

.connection-losted #message-2 {
    opacity: 1.0;
}
